{% extends "covidapp/base.html" %} {% load static %} {% block main %}
<div class="container-fluid">
  </br>
    <h1>State Covid-19 cases (India)</h1>
    <select class="form-select" aria-label="Default select example">
        {% for time in stateAll %}
        <option selected> {{ time.date}}</option>
        {% endfor %}
      </select>
      <button type= "button" class="btn btn-sm btn-primary"> Show </button>
      <hr>
    <div class="container">
    <div class="row"> 
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">dailyconfirmed</h5>
          <hr />
          <p class="card-text">{{ globalSummary.NewConfirmed }}</p>
        </div>
      </div>
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">dailydeceased</h5>
          <hr />
          <p class="card-text">{{ globalSummary.TotalConfirmed }}</p>
        </div>
      </div>
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">dailyrecovered</h5>
          <hr />
          <p class="card-text">{{ globalSummary.NewDeaths }}</p>
        </div>
      </div>
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">date</h5>
          <hr />
          <p class="card-text">{{ globalSummary.TotalDeaths}}</p>
        </div>
      </div>
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">dateymd</h5>
          <hr />
          <p class="card-text">{{ globalSummary.NewRecovered}}</p>
        </div>
      </div>
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">totalconfirmed</h5>
          <hr />
          <p class="card-text">{{ globalSummary.TotalRecovered}}</p>
        </div>
      </div>
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">totaldeceased</h5>
          <hr />
          <p class="card-text">{{ globalSummary.Date}}</p>
        </div>
      </div>
      <div class="card" style="width: 8rem">
        <div class="card-body">
          <h5 class="card-title">totalrecovered</h5>
          <hr />
          <p class="card-text">{{ globalSummary.Date}}</p>
        </div>
      </div>
    </div> 
    </div>
<hr>

</br>
</div>
<div class="container-fluid">
    <h1>All state cases (India)</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">State</th>
            <th scope="col">active</th>
            <th scope="col">confirmed</th>
            <th scope="col">deaths</th>
            <th scope="col">recovered</th>
            <th scope="col">statecode</th>
            <th scope="col">lastupdatedtime</th>
          </tr>
        </thead>
        <tbody>
            {% for state in stateSummary %}
          <tr>
            <th scope="row">1</th>
            <td>{{state.state}}</td>
            <td>{{state.active}}</td>
            <td>{{state.confirmed}}</td>
            <td>{{state.deaths}}</td>
            <td>{{state.recovered}}</td>
            <td>{{state.statecode}}</td>
            <td>{{state.lastupdatedtime}}</td>
          </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}
